<div id="headline" class="h-dvh grid place-items-center px-6">
  <h1 class="block relative text-4xl md:text-6xl text-center font-bold leading-normal space-y-4">
    <span class="relative -left-8 -skew-x-2 block">
      <span
        class="inline-block absolute -inset-1 bg-[#5297d8]"
        aria-hidden="true"></span>
      <span class="inline-block relative text-white font-semibold"
        >uzzielkyle</span
      >
    </span>
    <span class="relative -right-8 block">
      <span
        class="inline-block absolute -inset-1 bg-[#447eb4]"
        aria-hidden="true"></span>
      <span class="inline-block relative text-white font-semibold"
        >a learner</span
      >
    </span>
    <span class="relative skew-x-2 block">
      <span
        class="inline-block absolute -inset-1 bg-[#36648f]"
        aria-hidden="true"></span>
      <span class="inline-block relative text-white font-semibold"
        >an explorer</span
      >
    </span>
    <span class="relative -right-4 block">
      <span
        class="inline-block absolute -inset-1 bg-[#294b6b]"
        aria-hidden="true"></span>
      <span class="inline-block relative text-white font-semibold"
        >a developer</span
      >
    </span>
  </h1>
</div>
