<!doctype html>
<html lang="en" class="text-[#0d1822]">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="generator" content={Astro.generator} />
    <title>uzzielkyle</title>
  </head>
  <body class="overflow-hidden h-dvh scrollbar-hide">
    <div
      class="relative overflow-scroll scrollbar-thin scrollbar-hide md:scrollbar-default scrollbar-track-white scrollbar-thumb-[#5297d8] hover:scrollbar-thumb-[#5297d8] active:scrollbar-thumb-[#5297d8] max-h-dvh scroll-smooth"
    >
      <slot />
      <div
        class="fixed inset-x-0 bottom-0 z-40 h-48 md:h-52 bg-gradient-to-t from-white via-transparent to-transparent md:mr-2"
      >
      </div>
    </div>
  </body>
  <script is:inline src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
</html>

<style>
  body {
    background-color: #eaf2fb;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%231b3146' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  }
</style>
